.card_custom{
    word-wrap: break-word;
    background-clip: border-box;
    background-color: var(--accent2Color);
    height: 30vh;
    /* box-shadow: inset -10px -10px 20px var(--accent2Color),
        inset 10px 10px 20px transparent; */
    transition: 0.5s;
    border: 2px solid var(--accent2Color);
    overflow: hidden;
}


.card_body{
    height: calc(30vh - 4px);
    padding: 1rem;
    border-radius: 0px 20px 20px 0px;
}

.card_img{
    height: calc(30vh - 4px);
    border-radius: 20px 0 0 20px;
}

@media screen and (max-width: 767px){
    .card_body{
        position: absolute;
        width: calc(100% - 4px);
        top: 2px;
        background: transparent !important;
        border-radius: 20px;
        color: var(--secondaryColor)!important;
    }

    .card_img{
        border-radius: 20px;
    }
}

.card_title{
    font-size: 1.3rem;
}

.card_text{
    font-size: 1.3rem;
}
