.card {
    position: relative;
    height: 60vh;
    border: 2px solid var(--accent2Color);
    background: transparent;
    backdrop-filter: blur(3px);
    box-shadow: 0 0 10px var(--accentColor);
    border-radius: 10px;
    transform-style: preserve-3d;
    perspective: 1000px;
    transition: .5s;
    overflow: hidden;
    /* Assicura che l'overflow venga nascosto */
}

.card:hover {
    transform: rotateY(10deg) rotateX(10deg) scale(1.05);
}

.card:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: transform 0.5s cubic-bezier(0.23, 1, 0.320, 1);
}

.card:hover:before {
    transform: translateX(-100%);
}

.card:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    transition: transform 0.5s cubic-bezier(0.23, 1, 0.320, 1);
}

.card:hover:after {
    transform: translateX(100%);
}


.optionIcon {
    position: absolute;
    top: 1rem;
    right: 1rem;
    z-index: 2;
}

/* Backgorund profile image */

.wrapper {
    padding: 1rem 2rem;
    border: 2px solid var(--accent2Color);
    background: transparent;
    backdrop-filter: blur(3px);
    box-shadow: 0 0 10px var(--accentColor);
    border-radius: 10px;
    transition: .5s;
}

.fileBox {}

.fileBox input {
    width: 90%;
    height: 100%;
    background: transparent;
    border: 1px solid var(--accent2Color);
    outline: none;
    border-radius: 10px;
    font-size: 1.5rem;
    transition: .2s;
}

.fileBox input:focus {
    border: 3px solid var(--accentColor);
}

.img_custom{
    position: absolute;
    top: 0;
    height: 30vh;
    width: 100%;
    z-index: 0;
    transition: .5s;
}

/* card profilo */

.profilo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 10px solid var(--accentColor);
    z-index: 1;
}

.info {
    border-top: 10px solid var(--accentColor);
}

.info h2 {
    margin: 0;
    font-size: 20px;
}

/* Button */

.fancy {
    background-color: transparent;
    border: 2px solid var(--accent2Color);
    border-radius: 0;
    box-sizing: border-box;
    color: var(--primaryColor);
    cursor: pointer;
    display: inline-block;
    font-weight: 700;
    letter-spacing: 0.05em;
    margin: 0;
    outline: none;
    overflow: visible;
    padding: 1.25em 2em;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    font-size: 13px;
}

.fancy::before {
    content: " ";
    width: 1.5625rem;
    height: 2px;
    background: var(--accent2Color);
    top: 50%;
    left: 1.5em;
    position: absolute;
    transform: translateY(-50%);
    transform-origin: center;
    transition: 0.3s linear, width 0.3s linear;
}

.fancy .text {
    font-size: 1.125em;
    line-height: 1.33333em;
    padding-left: 2em;
    display: block;
    transition: all 0.3s ease-in-out;
    text-transform: uppercase;
    color: var(--accent2Color);
}

.fancy .top_key {
    height: 2px;
    width: 1.5625rem;
    top: -2px;
    left: 0.625rem;
    position: absolute;
    transition: width 0.5s ease-out, left 0.3s ease-out;
}

.fancy .bottom_key_1 {
    height: 2px;
    width: 1.5625rem;
    right: 1.875rem;
    bottom: -2px;
    position: absolute;
    transition: width 0.5s ease-out, right 0.3s ease-out;
}

.fancy .bottom_key_2 {
    height: 2px;
    width: 0.625rem;
    right: 0.625rem;
    bottom: -2px;
    position: absolute;
    transition: width 0.5s ease-out, right 0.3s ease-out;
}

.fancy:hover {
    color: var(--primaryColor);
    background: var(--accent2Color);
}

.fancy:hover::before {
    width: 0.9375rem;
    background: var(--primaryColor);
}

.fancy:hover .text {
    color: var(--primaryColor);
    padding-left: 1.5em;
}

.fancy:hover .top_key {
    left: -2px;
    width: 0px;
}

.fancy:hover .bottom_key_1,
.fancy:hover .bottom_key_2 {
    right: 0;
    width: 0;
}