.sidebar_custom2 {
    display: flex;
    flex-direction: column;
}

.sidebar_custom2 span {
    position: absolute;
    top: 85.5rem;
    left: 0;
    width: 100%;
    height: 2.2rem;
    background: linear-gradient(45deg, var(--primaryColor), var(--accent2Color));
    transition: 0.3s;
}