.wrapper{
    height: calc(100vh - 12vh);
    width: 21%;
    position: fixed;
    top: 12vh;
    left: 0;
    box-shadow: 0px 2px 5px var(--accent2Color);
    overflow-y: auto;
}

.wrapper::-webkit-scrollbar {
    display: none; /* Nascondi la scrollbar */
}

.sidebar_title{
    color: var(--secondaryColor);
}


/* .sidebar_item::after{
    content: "";
    position: absolute;
    background-color: var(--accentColor);
    height: 2px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}

.sidebar_item:hover{
    color: var(--accent2Color);
}

.sidebar_item:hover::after{
    width: 50%;
} */
